<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List All Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">

        <div>
            <form th:action="@{/logout}" method="post">
                <p>
<!--                    Welcome + <b>[[${#request.userPrincipal.principal.Username}]]</b>-->
                </p>
                <input type="submit" value="Sign Out">
            </form>
        </div>
        <div>
            <h1> List of all users!</h1>
        </div>

        <div>
            <a class="h3 mb-4" th:href="@{/register}">Add new User</a>
        </div>
        <div th:if="message" class="alert alert-success text-center">[[${message}]]
        </div>

        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>User ID</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>

                <tbody>
                <th:block th:each="user: ${listUsers}">
                    <tr>
                        <td th:text="${user.id}">User ID</td>
                        <td th:text="${user.email}">Email</td>
                        <td th:text="${user.phone}">Phone</td>
                        <td>
                            <a class="h4 mr-4" th:href="@{'/users/edit/'+${user.id}}">Edit</a>
                            <a class="h4" th:href="@{'/users/delete/'+${user.id}}">Delete</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>