<!DOCTYPE html>
<html lang="li">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/product-item.css">
    <script type="text/javascript" src="/js/main.js"></script>
    <link rel="stylesheet" href="/fontawesome/css/allshop.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/jquery.number.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script type="text/javascript"
            src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    <meta property="fb:app_id" content="450425535925830"/>
    <meta property="fb:admins" content="100007276175768"/>
</head>

<body>

<!-- header -->
<div th:replace="index::header"></div>

<div th:replace="quantity_control::standard_modal"></div>
<!-- nội dung của trang  -->
<section class="product-page mb-4">
    <div class="container">
        <!-- chi tiết 1 sản phẩm -->
        <div class="product-detail bg-white p-4" th:object="${book}">
            <div class="row">
                <!-- ảnh  -->
                <div class="col-md-5 khoianh">
                    <div class="anhto mb-4">
                        <img class="product-image" th:src="@{${book.getBookImage}}" th:alt="*{name}"
                             style="width: 100%;">
                        <!--                        <a class="active" href="images/lap-ke-hoach-kinh-doanh-hieu-qua-mt.jpg"-->
                        <!--                           data-fancybox="thumb-img">-->
                        <!--                        </a>-->
                    </div>

                </div>
                <!-- thông tin sản phẩm: tên, giá bìa giá bán tiết kiệm, các khuyến mãi, nút chọn mua.... -->
                <div class="col-md-7 khoithongtin">
                    <div class="row">
                        <div class="col-md-12 header">
                            <h4 th:text="*{name}" class="ten"></h4>
                            <hr>
                        </div>
                        <div class="col-md-7">
                            <div class="gia">
                                <div class="giaban" >Giá bán tại BookStore:
                                    <span id="price" class="giamoi font-weight-bold" th:text="*{price}">
                                    </span>
                                    <span class="giamoi">đ</span>

                                </div>
                            </div>
                            <div class="uudai" style="margin-top: 30px">
                                <h6 class="header font-weight-bold">Khuyến mãi & Ưu đãi tại BookStore:</h6>
                                <ul>
<!--                                    <li><b>Miễn phí giao hàng </b>cho đơn hàng từ 150.000đ ở HN và 300.000đ ở-->
<!--                                        Tỉnh/Thành khác <a href="#">>> Chi tiết</a></li>-->
                                    <li>Tặng Bookmark cho mỗi đơn hàng</li>
                                    <li>Bao sách miễn phí (theo yêu cầu)</li>
                                </ul>
                            </div>
                            <h3>Số lượng</h3>
                            <div th:replace="quantity_control::quantity_control(1, ${book.id})">Quantity
                            </div>
                            <div class="nutmua btn w-100 text-uppercase" id="btnAddToCart">Thêm vào giỏ hàng</div>
                        </div>
                        <!-- thông tin khác của sản phẩm:  tác giả, ngày xuất bản, kích thước ....  -->
                        <div class="col-md-5">
                            <div class="thongtinsach">
                                <ul>
                                    <li>Tác giả: <span th:text="*{author}"></span></li>
                                    <li>Ngày xuất bản: <b th:text="*{publicationDate}"></b></li>
                                    <li>Kích thước: <b th:text="*{size}"></b></li>
                                    <li>Dịch giả: <span th:text="*{translator}"></span></li>
                                    <li>Nhà xuất bản: <span th:text="*{publisher}"></span></li>
                                    <li>Số trang: <b th:text="*{numberOfPage}"></b></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- decripstion của 1 sản phẩm: giới thiệu , đánh giá độc giả  -->
                <div class="product-description col-md-9">
                    <!-- 2 tab ở trên  -->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active text-uppercase" id="nav-gioithieu-tab"
                               data-toggle="tab" href="#nav-gioithieu" role="tab" aria-controls="nav-gioithieu"
                               aria-selected="true">Giới thiệu</a>
                            <a class="nav-item nav-link text-uppercase" id="nav-danhgia-tab" data-toggle="tab"
                               href="#nav-danhgia" role="tab" aria-controls="nav-danhgia"
                               aria-selected="false">Đánh
                                giá của độc giả</a>
                        </div>
                    </nav>
                    <!-- nội dung của từng tab  -->
                    <div th:value="${book.name}"></div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active ml-3" id="nav-gioithieu" role="tabpanel"
                             aria-labelledby="nav-gioithieu-tab">
                            <h6 class="tieude font-weight-bold" th:text="*{name}"></h6>
<!--                            <p  th:text="*{description}"></p>-->
                            <div style="white-space: pre-wrap;">
                            [[*{description}]]
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-danhgia" role="tabpanel" aria-labelledby="nav-danhgia-tab">
                            <div class="row">
                                <div class="fb-comments" data-href="http://localhost:8080/book/view/${bookId}"
                                     data-width="" data-numposts="5"></div>
                                <!--                                <div class="col-md-3 text-center">-->
                                <!--                                    <p class="tieude">Đánh giá trung bình</p>-->
                                <!--                                    <div class="diem">0/5</div>-->
                                <!--                                    <div class="sao">-->
                                <!--                                        <i class="fa fa-star"></i>-->
                                <!--                                        <i class="fa fa-star"></i>-->
                                <!--                                        <i class="fa fa-star"></i>-->
                                <!--                                        <i class="fa fa-star"></i>-->
                                <!--                                        <i class="fa fa-star"></i>-->
                                <!--                                    </div>-->
                                <!--                                    <p class="sonhanxet text-muted">(0 nhận xét)</p>-->
                                <!--                                </div>-->
                                <!--                                <div class="col-md-5">-->
                                <!--                                    <div class="tiledanhgia text-center">-->
                                <!--                                        <div class="motthanh d-flex align-items-center">5 <i class="fa fa-star"></i>-->
                                <!--                                            <div class="progress mx-2">-->
                                <!--                                                <div class="progress-bar" role="progressbar" aria-valuenow="0"-->
                                <!--                                                     aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--                                            </div>-->
                                <!--                                            0%-->
                                <!--                                        </div>-->
                                <!--                                        <div class="motthanh d-flex align-items-center">4 <i class="fa fa-star"></i>-->
                                <!--                                            <div class="progress mx-2">-->
                                <!--                                                <div class="progress-bar" role="progressbar" aria-valuenow="0"-->
                                <!--                                                     aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--                                            </div>-->
                                <!--                                            0%-->
                                <!--                                        </div>-->
                                <!--                                        <div class="motthanh d-flex align-items-center">3 <i class="fa fa-star"></i>-->
                                <!--                                            <div class="progress mx-2">-->
                                <!--                                                <div class="progress-bar" role="progressbar" aria-valuenow="0"-->
                                <!--                                                     aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--                                            </div>-->
                                <!--                                            0%-->
                                <!--                                        </div>-->
                                <!--                                        <div class="motthanh d-flex align-items-center">2 <i class="fa fa-star"></i>-->
                                <!--                                            <div class="progress mx-2">-->
                                <!--                                                <div class="progress-bar" role="progressbar" aria-valuenow="0"-->
                                <!--                                                     aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--                                            </div>-->
                                <!--                                            0%-->
                                <!--                                        </div>-->
                                <!--                                        <div class="motthanh d-flex align-items-center">1 <i class="fa fa-star"></i>-->
                                <!--                                            <div class="progress mx-2">-->
                                <!--                                                <div class="progress-bar" role="progressbar" aria-valuenow="0"-->
                                <!--                                                     aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--                                            </div>-->
                                <!--                                            0%-->
                                <!--                                        </div>-->
                                <!--                                        <div class="btn vietdanhgia mt-3">Viết đánh giá của bạn</div>-->
                                <!--                                    </div>-->
                                <!-- nội dung của form đánh giá  -->
                                <!--                                    <div class="formdanhgia">-->
                                <!--                                        <h6 class="tieude text-uppercase">GỬI ĐÁNH GIÁ CỦA BẠN</h6>-->
                                <!--                                        <span class="danhgiacuaban">Đánh giá của bạn về sản phẩm này:</span>-->
                                <!--                                        <div class="rating d-flex flex-row-reverse align-items-center justify-content-end">-->
                                <!--                                            <input type="radio" name="star" id="star1"><label for="star1"></label>-->
                                <!--                                            <input type="radio" name="star" id="star2"><label for="star2"></label>-->
                                <!--                                            <input type="radio" name="star" id="star3"><label for="star3"></label>-->
                                <!--                                            <input type="radio" name="star" id="star4"><label for="star4"></label>-->
                                <!--                                            <input type="radio" name="star" id="star5"><label for="star5"></label>-->
                                <!--                                        </div>-->
                                <!--                                        <div class="form-group">-->
                                <!--                                            <input type="text" class="txtFullname w-100"-->
                                <!--                                                   placeholder="Mời bạn nhập tên(Bắt buộc)">-->
                                <!--                                        </div>-->
                                <!--                                        <div class="form-group">-->
                                <!--                                            <input type="text" class="txtEmail w-100"-->
                                <!--                                                   placeholder="Mời bạn nhập email(Bắt buộc)">-->
                                <!--                                        </div>-->
                                <!--                                        <div class="form-group">-->
                                <!--                                            <input type="text" class="txtComment w-100"-->
                                <!--                                                   placeholder="Đánh giá của bạn về sản phẩm này">-->
                                <!--                                        </div>-->
                                <!--                                        <div class="btn nutguibl">Gửi bình luận</div>-->
                                <!--                                    </div>-->
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- het tab nav-danhgia  -->
                </div>
                <!-- het tab-content  -->
            </div>
            <!-- het product-description -->
        </div>
        <!-- het row  -->
    </div>
    <!-- het product-detail -->
    </div>
    <!-- het container  -->
</section>
<!-- het product-page -->

<!-- khối sản phẩm tương tự -->
<!--<section class="_1khoi sachmoi">-->
<!--    <div class="container">-->
<!--        <div class="noidung bg-white" style=" width: 100%;">-->
<!--            <div class="row">-->
<!--                &lt;!&ndash;header&ndash;&gt;-->
<!--                <div class="col-12 d-flex justify-content-between align-items-center pb-2 bg-light pt-4">-->
<!--                    <h5 class="header text-uppercase" style="font-weight: 400;">Sản phẩm tương tự</h5>-->
<!--                    <a href="sach-moi-tuyen-chon.html" class="btn btn-warning btn-sm text-white">Xem tất cả</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="khoisanpham" style="padding-bottom: 2rem;">-->
<!--                &lt;!&ndash; 1 sản phẩm &ndash;&gt;-->
<!--                <div class="card">-->
<!--                    <a href="Lap-trinh-ke-hoach-kinh-doanh-hieu-qua.html" class="motsanpham"-->
<!--                       style="text-decoration: none; color: black;" data-toggle="tooltip"-->
<!--                       data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">-->
<!--                        <img class="card-img-top anh" src="images/lap-ke-hoach-kinh-doanh-hieu-qua.jpg"-->
<!--                             alt="lap-ke-hoach-kinh-doanh-hieu-qua">-->
<!--                        <div class="card-body noidungsp mt-3">-->
<!--                            <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>-->
<!--                            <small class="tacgia text-muted">Brian Finch</small>-->
<!--                            <div class="gia d-flex align-items-baseline">-->
<!--                                <div class="giamoi">111.200 ₫</div>-->
<!--                                <div class="giacu text-muted">139.000 ₫</div>-->
<!--                                <div class="sale">-20%</div>-->
<!--                            </div>-->
<!--                            <div class="danhgia">-->
<!--                                <ul class="d-flex" style="list-style: none;">-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li><i class="fa fa-star"></i></li>-->
<!--                                    <li><span class="text-muted">0 nhận xét</span></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <a href="Ma-bun-luu-manh-va-nhung-cau-chuyen-khac-cua-nguyen-tri.html" class="motsanpham"-->
<!--                       style="text-decoration: none; color: black;" data-toggle="tooltip"-->
<!--                       data-placement="bottom" title="Ma Bùn Lưu Manh Và Những Câu Chuyện Khác Của Nguyễn-->
<!--                        Trí">-->
<!--                        <img class="card-img-top anh" src="images/ma-bun-luu-manh.jpg" alt="ma-bun-luu-manh">-->
<!--                        <div class="card-body noidungsp mt-3">-->
<!--                            <h6 class="card-title ten">Ma Bùn Lưu Manh Và Những Câu Chuyện Khác Của Nguyễn-->
<!--                                Trí</h6>-->
<!--                            <small class="tacgia text-muted">Nguyễn Trí</small>-->
<!--                            <div class="gia d-flex align-items-baseline">-->
<!--                                <div class="giamoi">68.000 ₫</div>-->
<!--                                <div class="giacu text-muted">85.000 ₫</div>-->
<!--                                <div class="sale">-20%</div>-->
<!--                            </div>-->
<!--                            <div class="danhgia">-->
<!--                                <ul class="d-flex" style="list-style: none;">-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li><i class="fa fa-star"></i></li>-->
<!--                                    <li><span class="text-muted">0 nhận xét</span></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;" data-toggle="tooltip"-->
<!--                       data-placement="bottom" title="Bank 4.0 - Giao dịch mọi nơi, không chỉ là ngân hàng">-->
<!--                        <img class="card-img-top anh" src="images/bank-4.0.jpg" alt="bank-4.0">-->
<!--                        <div class="card-body noidungsp mt-3">-->
<!--                            <h6 class="card-title ten">Bank 4.0 - Giao dịch mọi nơi, không chỉ là ngân hàng-->
<!--                            </h6>-->
<!--                            <small class="tacgia text-muted">Brett King</small>-->
<!--                            <div class="gia d-flex align-items-baseline">-->
<!--                                <div class="giamoi">111.200 ₫</div>-->
<!--                                <div class="giacu text-muted">139.000 ₫</div>-->
<!--                                <div class="sale">-20%</div>-->
<!--                            </div>-->
<!--                            <div class="danhgia">-->
<!--                                <ul class="d-flex" style="list-style: none;">-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li><i class="fa fa-star"></i></li>-->
<!--                                    <li><span class="text-muted">0 nhận xét</span></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;" data-toggle="tooltip"-->
<!--                       data-placement="bottom" title="Bộ Sách 500 Câu Chuyện Đạo Đức - Những Câu Chuyện-->
<!--                        Tình Thân (Bộ 8 Cuốn)">-->
<!--                        <img class="card-img-top anh" src="images/bo-sach-500-cau-chuyen-dao-duc.jpg"-->
<!--                             alt="bo-sach-500-cau-chuyen-dao-duc">-->
<!--                        <div class="card-body noidungsp mt-3">-->
<!--                            <h6 class="card-title ten">Bộ Sách 500 Câu Chuyện Đạo Đức - Những Câu Chuyện-->
<!--                                Tình Thân (Bộ 8 Cuốn)</h6>-->
<!--                            <small class="tacgia text-muted">Nguyễn Hạnh - Trần Thị Thanh Nguyên</small>-->
<!--                            <div class="gia d-flex align-items-baseline">-->
<!--                                <div class="giamoi">111.200 ₫</div>-->
<!--                                <div class="giacu text-muted">139.000 ₫</div>-->
<!--                                <div class="sale">-20%</div>-->
<!--                            </div>-->
<!--                            <div class="danhgia">-->
<!--                                <ul class="d-flex" style="list-style: none;">-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li><i class="fa fa-star"></i></li>-->
<!--                                    <li><span class="text-muted">0 nhận xét</span></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;" data-toggle="tooltip"-->
<!--                       data-placement="bottom" title="Lịch Sử Ung Thư - Hoàng Đế Của Bách Bệnh">-->
<!--                        <img class="card-img-top anh" src="images/ung-thu-hoang-de-cua-bach-benh.jpg"-->
<!--                             alt="ung-thu-hoang-de-cua-bach-benh">-->
<!--                        <div class="card-body noidungsp mt-3">-->
<!--                            <h6 class="card-title ten">Lịch Sử Ung Thư - Hoàng Đế Của Bách Bệnh</h6>-->
<!--                            <small class="tacgia text-muted">Siddhartha Mukherjee</small>-->
<!--                            <div class="gia d-flex align-items-baseline">-->
<!--                                <div class="giamoi">111.200 ₫</div>-->
<!--                                <div class="giacu text-muted">139.000 ₫</div>-->
<!--                                <div class="sale">-20%</div>-->
<!--                            </div>-->
<!--                            <div class="danhgia">-->
<!--                                <ul class="d-flex" style="list-style: none;">-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li><i class="fa fa-star"></i></li>-->
<!--                                    <li><span class="text-muted">0 nhận xét</span></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;" data-toggle="tooltip"-->
<!--                       data-placement="bottom" title="Cuốn Sách Khám Phá: Trời Đêm Huyền Diệu">-->
<!--                        <img class="card-img-top anh" src="images/troi-dem-huyen-dieu.jpg" alt="troi-dem-huyen-dieu">-->
<!--                        <div class="card-body noidungsp mt-3">-->
<!--                            <h6 class="card-title ten">Cuốn Sách Khám Phá: Trời Đêm Huyền Diệu</h6>-->
<!--                            <small class="tacgia text-muted">Disney Learning</small>-->
<!--                            <div class="gia d-flex align-items-baseline">-->
<!--                                <div class="giamoi">111.200 ₫</div>-->
<!--                                <div class="giacu text-muted">139.000 ₫</div>-->
<!--                                <div class="sale">-20%</div>-->
<!--                            </div>-->
<!--                            <div class="danhgia">-->
<!--                                <ul class="d-flex" style="list-style: none;">-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li><i class="fa fa-star"></i></li>-->
<!--                                    <li><span class="text-muted">0 nhận xét</span></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;" data-toggle="tooltip"-->
<!--                       data-placement="bottom"-->
<!--                       title="Bộ Sách Những Câu Chuyện Cho Con Thành Người Tử Tế (Bộ 5 Cuốn)">-->
<!--                        <img class="card-img-top anh"-->
<!--                             src="images/bo-sach-nhung-cau-chuyen-cho-con-thanh-nguoi-tu-te.jpg"-->
<!--                             alt="bo-sach-nhung-cau-chuyen-cho-con-thanh-nguoi-tu-te">-->
<!--                        <div class="card-body noidungsp mt-3">-->
<!--                            <h6 class="card-title ten">Bộ Sách Những Câu Chuyện Cho Con Thành Người Tử Tế (Bộ 5-->
<!--                                Cuốn)</h6>-->
<!--                            <small class="tacgia text-muted">Nhiều Tác Giả</small>-->
<!--                            <div class="gia d-flex align-items-baseline">-->
<!--                                <div class="giamoi">111.200 ₫</div>-->
<!--                                <div class="giacu text-muted">139.000 ₫</div>-->
<!--                                <div class="sale">-20%</div>-->
<!--                            </div>-->
<!--                            <div class="danhgia">-->
<!--                                <ul class="d-flex" style="list-style: none;">-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li><i class="fa fa-star"></i></li>-->
<!--                                    <li><span class="text-muted">0 nhận xét</span></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;" data-toggle="tooltip"-->
<!--                       data-placement="bottom" title="Lịch Sử Thế Giới">-->
<!--                        <img class="card-img-top anh" src="images/lich-su-the-gioi.jpg" alt="lich-su-the-gioi">-->
<!--                        <div class="card-body noidungsp mt-3">-->
<!--                            <h6 class="card-title ten">Lịch Sử Thế Giới</h6>-->
<!--                            <small class="tacgia text-muted">Nam Phong tùng thư - Phạm Quỳnh chủ nhiệm</small>-->
<!--                            <div class="gia d-flex align-items-baseline">-->
<!--                                <div class="giamoi">111.200 ₫</div>-->
<!--                                <div class="giacu text-muted">139.000 ₫</div>-->
<!--                                <div class="sale">-20%</div>-->
<!--                            </div>-->
<!--                            <div class="danhgia">-->
<!--                                <ul class="d-flex" style="list-style: none;">-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li class="active"><i class="fa fa-star"></i></li>-->
<!--                                    <li><i class="fa fa-star"></i></li>-->
<!--                                    <li><span class="text-muted">0 nhận xét</span></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<div th:replace="index::footer"></div>

<!-- nut cuon len dau trang -->
<div class="fixed-bottom">
    <div class="btn btn-warning float-right rounded-circle nutcuonlen" id="backtotop" href="#"
         style="background:#CF111A;"><i
            class="fa fa-chevron-up text-white"></i></div>
</div>


<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.3&appId=450425535925830";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
    // var token = $("meta[name='_csrf']").attr("content");
    // var header = $("meta[name='_csrf_header']").attr("content");
    var bookId = "[[${book.id}]]";
    $('#price').number( true, 0,'.',',' );

</script>

<script th:src="@{/js/quantity_control.js}"></script>
<script th:src="@{/js/add_to_cart.js}"></script>
</body>

</html>